
* {
    scroll-behavior: smooth;
    overflow-x: hidden;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;

    
    
}


.main {
    display: block;
    margin: 0px 0px;
    background-color: white;
}

.nav li {
    margin-right: 5px;
    padding: 0px;
}

.cLang{
    text-decoration: none;
    transition: 1s;
}
.cLang:hover{
    letter-spacing: 0.8px;
}
.lang{
   
    border-radius: 5px;
    background-size: cover;
}
.hdr{
    background-image: url(./Assetss/شعار\ لحاء-topaz-enhance-4x.png\ متفرغ.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: fit-content;
    
}



.caption{
    color: aliceblue;
    display: grid;
    justify-content: stretch;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    height: fit-content;
    padding: 20px;
    overflow-y: hidden;
    height: fit-content;
    

    
}
.captionA{
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    height: fit-content;
    padding: 20px;
    display: grid;
    justify-content: stretch;
    
    overflow-y: hidden;
    height: fit-content;
}


#myCarousel{
    
    
}


.carousel-item{
    height: 90vh;
    box-shadow: 4px 4px 3px  rgba(66, 65, 65, 0.446);
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.carousel-inner{
  padding-bottom: 10px;
}




.tmor {
    background-image: url(./Assetss/1717.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.agricultural {
    background-image: url(./Assetss/9.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: -10%;
}

.na2l{
 background-image: url(./Assetss/na2l/na2l.jpg);
 background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    
}
.tabred{
    background-image: url(./Assetss/tabred.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.market{
    background-image: url(./Assetss/zra3a/taswe2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    width: -10%;
}
.m2wlat {
    background-image: url(./Assetss/m2awlat/howaaa3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    
}

.leaders{
    margin-top: 40px;
    border: 0px solid #378de8;
    border-top-left-radius:  60px; ;
    border-top-right-radius:  60px; ;
    border-bottom-right-radius:60px ;
    border-bottom-left-radius: 60px;
    margin-right: 5px;
    margin-left: 2px;
    box-shadow: 5px 5px 5px 5px  rgba(128, 128, 128, 0.484);
    
}
/* el familia */

.constr{
  background-image: url(./logos/constrc.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.agrc{
  background-image: url(./logos/Logo.png);
  background-position: center;
  background-size: contain;
}

.cold{
  background-image: url(./logos/tabreeed.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.agrc{
  background-image: url(./logos/agrc.png);
  background-position: center;
  background-size: cover;
}
.tamrr{
  background-image: url(./logos/tmoor.png);
  background-position: center;
  background-size: cover;
}
.logistics{
  background-image: url(./logos/LEHA\ Marketing\ Logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.markeeting{
  background-image: url(./logos/logistics.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.mdars {
  background-image: url(./logos/madars.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.bolan {
  background-image: url(./logos/متفرغ\ \ شعار\ بولانpng-veed-remove-background.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;


}




/* el familia end */

.ldr {
    margin-top: 10px;
}
h2 {
    margin: 5px 5px;
}

.Artxt{
    text-align: right;
    direction: rtl;
}


.msg{
    font-size: 14px;
    margin-bottom: 40px;
}
.chairman {
    background-image: url(./Assetss/7mod.jpg);
    background-size:cover;
    background-position: center;
    box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.518);
}
.son{
    background-image: url(./Assetss/m7md.jpg);
    background-size:cover;
    background-position: center;
    box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.518);
}
.josef{
    background-image: url(./Assetss/Youssef_el_saleh-removebg-preview.png);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.518);
}
h6{
    font-weight: bold;
    color:#378de8 ;
}

::-webkit-scrollbar {
    width: 1px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #00000025; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2a78ff63; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a9a9a9; 
  }






.footerpic{
    background-image: url(./Assetss/شعار\ لحاء-topaz-enhance-4x.png\ متفرغ.png);
    background-size:cover;
    background-position: center;
}


.links a {
    text-decoration: none;
}
.map{
    text-align: left;
    justify-content: left;
    overflow-x: auto;
}
.map h5 {
    text-align: left;
}
.ftr {
    position: relative;
}


.social-media a {
    
    text-decoration: none;
    font-size: 22px;
    margin-right: 50px;
    

    
}

.fa.fa-twitter::before {
    display: inline-block;
    width: 1em;
    height: 1em;
    content: "";
    background-color: black;
    -webkit-mask: url('data:image/svg+xml;utf8,<svg viewBox="0 -8 26 30" xmlns="http://www.w3.org/2000/svg"><g><path fill="white" d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"></path></g></svg>') no-repeat center;
    mask: url('data:image/svg+xml;utf8,<svg viewBox="0 -8 26 30" xmlns="http://www.w3.org/2000/svg"><g><path fill="white" d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"></path></g></svg>') no-repeat center;
    background-position: center 3px;
}



#Top {
    font-weight: bold;
    font-size: 15px;
    color: black;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    overflow: hidden;
    border: 2px solid white;
    cursor: pointer;
   display: none; 
   justify-content: center;
   align-items: center;
   text-align: center;
   margin: auto;
   background-color: #3067fd;
   z-index: 100000;
     
 } 


 .product-card {
    min-width: 300px;
    height: 80%;
    padding-bottom: 15px;
 }






 #arrow {
    padding-top: 2.7px;
 
 }
 #arrow:hover {
     color: black;
 }




.product {
    position: relative;
    overflow: hidden;
    padding: 20px;
  }
  
  .product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
  }
  
  .product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .product-container::-webkit-scrollbar {
    display: none;
  }

  

  .product-info {
    background-color: gray;
  }
  
  .product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 100vh;
    margin-right: 70px;
    border-radius: 15px;
  }
  
  .product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    background-size: contain;
  }
 
  
  .product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
  }
  
  .card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
  }
  
  .product-card:hover .card-btn {
    opacity: 1;
  }
  
  .card-btn:hover {
    background: #3067fd;
    color: #fff;
  }
  
  .product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
  }
  
  .product-brand {
    text-transform: uppercase;
  }
  
  .product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
  }
  
  .price {
    font-weight: 900;
    font-size: 20px;
  }
  
  .actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
  }
  
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.2;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  
  .collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .collection {
    position: relative;
  }
  
  .collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
  }
  
  .collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
  }



  /*  Agriculture section */ 
  .hdrAgr{
    background-image: url(./logos/agrc.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: fit-content;
  
  }

  .zra3a1{
    background-image: url(./branch/Agriculture/zra3a/11.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  .zra3a2{
    background-image: url(./branch/Agriculture/zra3a/18.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  .zra3a3{
    background-image: url(./branch/Agriculture/zra3a/Image14.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  .zra3a4{
    background-image: url(./branch/Agriculture/zra3a/Image15.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  .zra3a5{
    background-image: url(./branch/Agriculture/zra3a/Image24.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  .zra3a6{
    background-image: url(./branch/Agriculture/zra3a/Image6.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }


  .accordion {
    --bs-accordion-color: var(--bs-body-color);
    --bs-accordion-bg: var(--bs-body-bg);
    --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    --bs-accordion-border-color: var(--bs-border-color);
    --bs-accordion-border-width: var(--bs-border-width);
    --bs-accordion-border-radius: var(--bs-border-radius);
    --bs-accordion-inner-border-radius: calc(var(--bs-border-radius) -(var(--bs-border-width)));
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-color: var(--bs-body-color);
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23212529' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e);
    /* --bs-accordion-btn-icon-width: 1.25rem; */
    --bs-accordion-btn-icon-transform: rotate(-180deg);
    --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
    --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23052c65' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e);
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-accordion-body-padding-x: 1.25rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: var(--bs-primary-text-emphasis);
    --bs-accordion-active-bg: var(--white);
}
.accordion-item{
  width: 100%;
}

.accordion-button::after {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-right: 85%;
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
 
}

.proj1{
  background-image: url(./branch/Agriculture/zra3a/11.jpg);
   background-position:center;
    background-size:cover;  
     border-radius: 35px;
      box-shadow:5px 5px 5px rgba(128, 128, 128, 0.409) ;
       margin-bottom:10px;
}

.proj2{
  background-image: url(./branch/Agriculture/zra3a/11.jpg);
   background-position:center;
    background-size:cover;  
     border-radius: 35px;
      box-shadow:5px 5px 5px rgba(128, 128, 128, 0.409) ;
       margin-bottom:10px;
}

.proj3{
  background-image: url(./branch/Agriculture/zra3a/11.jpg);
   background-position:center;
    background-size:cover;  
     border-radius: 35px;
      box-shadow:5px 5px 5px rgba(128, 128, 128, 0.409) ;
       margin-bottom:10px;
}

.product-card {
  height: fit-content;
  align-items: center;
  margin-top: 30px;

}

.product-card{
  width: 150px;
}